h1{
    color: blue;
}

body{
    font: italic;
}

ul{
    border-color: aquamarine;
    border-width: thick;
    border-style: dotted;
}

.testi{
    background-color: green;
}

span{
    color:red;
}
#lorem{
    font-family: monospace;
}
